<%= form_for :user_detail , :url=>{:action=>'update'} do |f| %>
<input type="hidden" value="<%= @user_detail.id %>" name="id">
<div class="row">
	<div class="col-lg-12">
		
		<%= render partial: "shared/errors", locals: {object: @object} %>

		<div class="row">
			<div class="col-lg-6">
					Enter User Email:-
				</div>
				<div class="col-lg-6">
					<%= select("user_detail", "user_id", @users.collect {|ud| [ud.email, ud.id ] }, { include_blank: true })%>
					
				</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
					Enter FirstName:-
				</div>
				<div class="col-lg-6">
					<%= f.text_field('first_name',:class=>'form-control') %>
				</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
					Enter LastName:-
				</div>
				<div class="col-lg-6">
					<%= f.text_field('last_name',:class=>'form-control') %>
				</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
					Profile Picture:-
				</div>
				<div class="col-lg-6">
		
					<%= f.file_field("profile_pic") %>
					<%= @test %>				
				</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
					Enter Contact Number:-
				</div>
				<div class="col-lg-6">
					<%= f.text_field('number',:class=>'form-control') %>
				</div>
		</div>	
		<div class="row">
			<div class="col-lg-4 col-lg-offset-3">
							<%= submit_tag('Save User',:class=>'btn btn-primary col-lg-offset-2') %>
				</div>
		</div>
	</div>
</div>
<% end %>