<table class="table table-bordered">
	<thead>
			<tr>
				<td>Id</td>
				<td>User</td>
				<td>Post Title</td>
				<td>Post Detail</td>
			</tr>
	</thead>
			<tr class="danger">
				<td><%= @us.id %></td>
				<td><%= @us.user.email %></td>
				<td><%= @us.title %></td>
				<td><%= @us.detail.html_safe %></td>
			</tr>
			<%= button_to('Back to view page', :action=>'view', :class => 'btn btn-primary')  %>
				

</table>