<!doctype html>
<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>Freeze Cms In Ruby On Rails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'bootstrap','animate','font-awesome.min','slick','freeze','settings',media: 'all' %>
 

        <%= javascript_include_tag 'jquery','jquery-1.11.1.min','bootstrap.min','slick.min','placeholdem.min','waypoints.min','scripts','rs-plugin/js/jquery.themepunch.plugins.min','rs-plugin/js/jquery.themepunch.revolution.min' %>

    <script>
        $(document).ready(function() {
            appMaster.preLoader();
        });
    </script>

</head>

<body>

    <div class="pre-loader">
        <div class="load-con">
            <%= link_to image_tag("freeze/logo.png",  :class => 'animated fadeInDown',:alt => ''), :action => 'view', :controller => 'public'%>
           
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </div>
    </div>
   
    <header>
        
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="fa fa-bars fa-lg"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                        <%= image_tag("freeze/logo.png",  :class => 'logo',:alt => '')%>
                            
							<div style="color:#ffffff;font-family: 'Lato', Arial;">CMS In Ruby On Rails</div>
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#about">about</a>
                            </li>
                            <li><a href="#features">features</a>
                            </li>
                            <li><a href="#reviews">Themes</a>
                            </li>
                            <li><a href="#screens">screens</a>
                            </li>
                             <li><a href="/public/blog">blog</a>
                            </li>
                            <li><a href="#support">Contact us</a>
                            </li>
							<li>
                               <% if session[:email] %>
                              <li><%= link_to('Logout', {:action => 'logout'},:class=>'getApp') %></li>
                            <% else %>
                              <li><%= link_to('Login', {:action => 'login'},:class=>'getApp') %></li>

                            <% end %>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-->
        </nav>

        
        <!--RevSlider-->
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                        <!-- MAIN IMAGE -->
                        <%= link_to image_tag("transparent.png",:alt => 'slidebg1',:data => { :bgfit => 'cover', :bgposition => 'left top', :bgrepeat => 'no-repeat'}), :action => 'view', :controller => 'public'%>
                       <!--  <img src="../assets/images/transparent.png"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat"> -->
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                     <!--  -->
                        <div class="tp-caption lfl fadeout hidden-xs"
                            data-x="left"
                            data-y="bottom"
                            data-hoffset="30"
                            data-voffset="0"
                            data-speed="500"
                            data-start="700"
                            data-easing="Power4.easeOut">
                            <%= link_to image_tag("freeze/Slides/hand-freeze.png",:alt => ''), :action => 'view', :controller => 'public'%>
                            
                        </div>
 
                        <div class="tp-caption lfl fadeout visible-xs"
                            data-x="left"
                            data-y="center"
                            data-hoffset="700"
                            data-voffset="0"
                            data-speed="500"
                            data-start="700"
                            data-easing="Power4.easeOut">
                            <%= link_to image_tag("freeze/iphone-freeze.png",:alt => ''), :action => 'view', :controller => 'public'%>
                            <!-- <img src="img/freeze/iphone-freeze.png" alt=""> -->
                        </div>

                        <div class="tp-caption large_white_bold sft" data-x="550" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1200" data-easing="Power4.easeOut">
                            Freeze
                        </div>
                        <div class="tp-caption large_white_light sfr" data-x="770" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1400" data-easing="Power4.easeOut">
                            CMS
                        </div>
                        <div class="tp-caption large_white_light sfb" data-x="550" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1500" data-easing="Power4.easeOut">
                            In Ruby On Rails
                        </div>


                    </li>
                    <!-- SLIDE 2 -->
                    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                         <%= link_to image_tag("transparent.png",:alt => 'slidebg1',:data => { :bgfit => 'cover', :bgposition => 'left top', :bgrepeat => 'no-repeat'}), :action => 'view', :controller => 'public'%>
   <!--                      <img src="img/transparent.png"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat"> -->
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption lfb fadeout hidden-xs"
                            data-x="center"
                            data-y="bottom"
                            data-hoffset="0"
                            data-voffset="0"
                            data-speed="1000"
                            data-start="700"
                            data-easing="Power4.easeOut">
                            <%= link_to image_tag("freeze/Slides/freeze-slide2.png",:alt => ''), :action => 'view', :controller => 'public'%>
                            
                        </div>

                        
                        <div class="tp-caption large_white_light sft" data-x="center" data-y="250" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1400" data-easing="Power4.easeOut">
                            Every Pixel <i class="fa fa-heart"></i>
                        </div>
                        
                        
                    </li>

                    <!-- SLIDE 3 -->
                    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                          <%= link_to image_tag("transparent.png",:alt => 'slidebg1',:data => { :bgfit => 'cover', :bgposition => 'left top', :bgrepeat => 'no-repeat'}), :action => 'view', :controller => 'public'%>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        

                        
                        <div class="tp-caption lfb visible-xs" data-x="center" data-y="center" data-hoffset="0" data-voffset="400" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
                            <a href="#" class="btn btn-primary inverse btn-lg">Purchase</a>
                        </div>

                        
                        <div class="tp-caption mediumlarge_light_white sfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="-50" data-speed="1000" data-start="1000" data-easing="Power4.easeOut">
                           Powerful Responsive
                        </div>
                        <div class="tp-caption mediumlarge_light_white sft hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
                           App Landing Page
                        </div>
                        <div class="tp-caption small_light_white sfb hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="80" data-speed="1000" data-start="1600" data-easing="Power4.easeOut">
                           <p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. <br> Quisque pellentesque diam sed pulvinar lobortis. Vestibulum ante <br>ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                        </div>

                        <div class="tp-caption lfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="160" data-speed="1000" data-start="1800" data-easing="Power4.easeOut">
                            <a href="#" class="btn btn-primary inverse btn-lg">Purchase</a>
                        </div>
                        
                        
                    </li>
                    
                </ul>
            </div>
        </div>

    </header>
    
    <%= yield %>
        <footer>
            <div class="container">
                <a href="#" class="scrollpoint sp-effect3">
                <%= link_to image_tag("freeze/logo.png",:class =>'logo',:alt => ''), :action => 'view', :controller => 'public'%>
                    
                </a>
				<span style="color:#ffffff">CMS In Ruby On Rails</span>
                <div class="social">
                    <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
                    <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
                </div>
                <div class="rights">
                    <p>Copyright &copy; Your Freeze CMS 2016</p>
                    <!-- <p>Template by <a href="http://www.scoopthemes.com" target="_blank">ScoopThemes</a></p> -->
                </div>
            </div>
        </footer>

    </div>

</body>

</html>
